
<header class="header">
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-light shadow-sm" role="navigation">
      

      <div class="dropdown">
        <button class="btn btn-default btn_menu" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="material-icons" style="color:dodgerblue">more_vert</i> <span>Geomanager</span>
        </button>
        
        

        <div class="dropdown-menu shadow" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </div>
      <div class="btn_right">
        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <span class="glyphicon glyphicon-option-vertical"></span>Dropdown button
        </button>
        </div>
  </nav>
  
</header>
