<i class="material-icons search_icon">search</i><input class="form-control inp_search" (keyup)="searchString($event.target.value)" >

<body>

<div class="backgr" id="content">
<div class="left_users shadow p-3 mb-15">  <!-- Левая область с юзерами-->
    <div class="table-wrapper-scroll-y">

  <table class="table left_table">
    
    <tbody>
      <tr *ngFor="let user of users | search:searchStr; let i=index"  style="cursor:pointer" class="left_table"> 
        <td (click)="picked(i)">{{user.user_name}}</td>
        <td class="btns"> <button class="btn btn-outline-primary btn-circle" type="button" data-toggle="modal" data-target="#exampleModalCenter" (click)="picked(i)"> <i class="material-icons">delete</i>  </button> 
         <button class="btn btn-outline-primary btn-circle" type="button" (click)="pushSettings(i)"> <i class="material-icons">settings</i>  </button>
         <button class="btn btn-outline-primary btn-circle" type="button" (click)="picked(i)"> <i class="material-icons" >local_offer</i>  </button>
        </td>
      </tr>
     
      
    </tbody>
  </table>
</div>
</div>
<div class="right_users shadow p-3 mb-15">   <!-- Правая область с юзерами и ролями-->
<div class="table-wrapper-scroll-y">

<div *ngFor="let user of users | search:searchStr; let i = index" class="userName">
  <span  *ngIf="ispicked[i]==1">{{user.user_name}}</span>
  </div>
  <div *ngFor="let user of users | search:searchStr; let i = index" class="roles_sets">
  <input type="radio" id="first" *ngIf="ispicked[i]==1" class="roles" name="choice" [checked]="isChecked2" value="Роли" (click)="picked(i)"> 
  <input type="radio"  id="second" *ngIf="ispicked[i]==1" class="settings" name="choice" [checked]="!isChecked2"  value="Настройки" (click)="pushSettings(i)">

  <label style="cursor:pointer" for="first" *ngIf="ispicked[i]==1" class="labelf">Роли</label>
  <label style="cursor:pointer" for="second" *ngIf="ispicked[i]==1" class="labels">Настройки</label>



</div>

  
  <ng-container *ngIf="isChecked2; else checkboxes">
  
  <table class="table">
    <thead>
      <tr>
        <td>Роли</td>
        <td>Проекты</td>
        <td>Руководитель</td>
        <td></td>
      </tr>
    </thead>
    
    <ng-container *ngFor="let user of users | search:searchStr; let i = index" >
        <ng-container   *ngIf="ispicked[i]==1" >
    <tbody *ngFor="let role of roles; let i = index"> 
      <tr *ngIf="role.username==user.user_name"> 
        <td>{{role.role_archetype}}</td>
        <td>{{role.project_name}}</td>
        <td> <input class="star" type="checkbox" id="{{role.role_archetype}} + {{i}}"> <label for="{{role.role_archetype}} + {{i}}" class="star_lab"><i class="material-icons star_ico" >star_rate</i></label>  </td>
        <td class="last_td"> <button class="btn btn-outline-primary"> <i class="material-icons" >edit</i> </button> </td>
      </tr>
    </tbody>
  </ng-container>
</ng-container>
  </table>


  
  </ng-container>
  <ng-template  #checkboxes>
    
    
      <ng-container *ngFor="let user of users | search:searchStr; let i = index">
          <ng-container *ngIf="ispicked[i]==1">

        <div class="div_name"><input class="form-control inp_name" value="{{user.user_name}}"> </div>
         <!--
        <ul class="col2" >
          <li >
            <div class="custom-control custom-checkbox chckbxs" >
                <input type="checkbox" class="custom-control-input" id="1" [(ngModel)]="user.is_superuser" value="{{user.is_superuser}}">          
              <label class="custom-control-label chck" for="1"> Суперюзер</label> 
            </div>
          </li> 
          <li >
              <div class="custom-control custom-checkbox chckbxs" >
                  <input type="checkbox" class="custom-control-input" id="2" [(ngModel)]="user.has_create_role" value="{{user.has_create_role}}">          
                <label class="custom-control-label chck" for="2"> создать роль</label> 
              </div>
            </li>
            <li >
                <div class="custom-control custom-checkbox chckbxs" >
                    <input type="checkbox" class="custom-control-input" id="3" [(ngModel)]="user.has_create_profile" value="{{user.has_create_profile}}">          
                  <label class="custom-control-label chck" for="3"> создать профиль</label> 
                </div>
              </li>
              <li >
                  <div class="custom-control custom-checkbox chckbxs" >
                      <input type="checkbox" class="custom-control-input" id="4" [(ngModel)]="user.has_read_profile" value="{{user.has_read_profile}}">          
                    <label class="custom-control-label chck" for="4"> читать профиль</label> 
                  </div>
                </li>
                <li >
                    <div class="custom-control custom-checkbox chckbxs" >
                        <input type="checkbox" class="custom-control-input" id="5" [(ngModel)]="user.has_update_profile" value="{{user.has_update_profile}}">          
                      <label class="custom-control-label chck" for="5"> изменять профиль</label> 
                    </div>
                  </li>
                  <li >
                      <div class="custom-control custom-checkbox chckbxs" >
                          <input type="checkbox" class="custom-control-input" id="6" [(ngModel)]="user.has_delete_profile" value="{{user.has_delete_profile}}">          
                        <label class="custom-control-label chck" for="6"> удалять профиль </label> 
                      </div>
                    </li>
                    <li >
                        <div class="custom-control custom-checkbox chckbxs" >
                            <input type="checkbox" class="custom-control-input" id="7" [(ngModel)]="user.has_create_project" value="{{user.has_create_project}}">          
                          <label class="custom-control-label chck" for="7"> создавать проект</label> 
                        </div>
                      </li>
                      <li >
                          <div class="custom-control custom-checkbox chckbxs" >
                              <input type="checkbox" class="custom-control-input" id="8" [(ngModel)]="user.has_read_project" value="{{user.has_read_project}}">          
                            <label class="custom-control-label chck" for="8"> читать проект </label> 
                          </div>
                        </li>
                        <li >
                            <div class="custom-control custom-checkbox chckbxs" >
                                <input type="checkbox" class="custom-control-input" id="9" [(ngModel)]="user.has_update_project" value="{{user.has_update_project}}">          
                              <label class="custom-control-label chck" for="9"> изменять проект </label> 
                            </div>
                          </li>
                          <li >
                              <div class="custom-control custom-checkbox chckbxs" >
                                  <input type="checkbox" class="custom-control-input" id="10" [(ngModel)]="user.has_delete_project" value="{{user.has_delete_project}}">          
                                <label class="custom-control-label chck" for="10"> удалять проект</label> 
                              </div>
                            </li>

        </ul>
      -->
    </ng-container>
 

    </ng-container>
    <div class="left_btns" *ngFor="let user of users | search:searchStr; let i = index" >
        <div *ngIf="ispicked[i]==1">
    <button class="btn btn-primary lbtn"> СОХРАНИТЬ</button>
    <button class="btn btn-outline-primary lbtn" (click)="picked(i)"> ОТМЕНИТЬ</button>
    <button class="btn btn-outline-primary lbtn del" data-toggle="modal" data-target="#exampleModalCenter" > <i class="material-icons ico">delete</i></button>
    </div>
      </div>
  </ng-template>
</div>
</div>

</div>



<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered " role="document">
    <div class="modal-content  modal_h" >
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle"> УДАЛИТЬ ПОЛЬЗОВАТЕЛЯ?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body asd" *ngFor="let user of users | search:searchStr; let i=index">
        <div *ngIf="ispicked[i]==1"> Пользователь "{{user.user_name}}" будет удален</div>
      </div>
      <div class="modal-footer">
          <button type="button" class="btn btn-primary btn_m">УДАЛИТЬ</button>
        <button type="button" class="btn btn-outline-secondary btn_m" data-dismiss="modal">ОТМЕНИТЬ</button>
      </div>
    </div>
  </div>
</div>

</body>
