<body>
  <div class="backgr" >
  <div class="right_projects shadow p-3 mb-15">
    <table class="table">
    
      <tbody>
        <tr *ngFor="let user of users" style="cursor:pointer"> 
          <td>{{user.name}}</td>
          <td> <button class="btn btn-outline-primary btn-circle" type="button"> <i class="material-icons">delete</i>  </button> 
           <button class="btn btn-outline-primary btn-circle" type="button"> <i class="material-icons">settings</i>  </button>
           <button class="btn btn-outline-primary btn-circle" type="button"> <i class="material-icons">local_offer</i>  </button>
          </td>
        </tr>
       
        
      </tbody>
    </table>
  </div>
  <div class="left_projects shadow p-3 mb-15">
  
    
  
  </div>
  
  </div>
  </body>
  